*.pyc
*.swp
__pycache__
src/*.egg-info
*.po~
*.mo
.idea
*twistd.log
*twistd.pid
pp
gpas

data/messaging/messaging_settings.ini
data/paster-config/secrets.ini
data/paster-config/dev.ini
data/paster-config/main.ini
data/qa/config.py
data/qa/config-remote.py
data/site-configs/test/*
data/site-configs/sd_*/*
data/site-configs/pp
data/site-configs/law_firm_llp
data/site-configs/raviga*
data/simulations/test*/*
data/dumps/*
data/celery/celeryconfig.py
data/celery/dev_celeryconfig.py
data/paster-config/zodb.conf
data/paster-config/zodb.dev.conf
data/processes/images
data/processes/.all.xpdl
data/simulations/*
data/site-configs-backup/

docs/processes
docs/proc_screenshots
docs/frontend

downloads/*

screenshots/*

frontend/public

version
.coverage
.installed.cfg
.tox
app.ini
bin
build
coverage
coverage-reports
coverage.xml
develop-eggs
eggs
htmlcov
parts
qa-reports
replay-storage
var
ve
wsgidav.confc
.migrant.*.touch
test-results-karma.xml

dev.cfg
tags
.tags
ID
TAGS
tmp
sim-coverage.data
sim-report
simulations_discovered.txt

sample-data/*.pdf
sample-data/*.pdf.xml
sample-data/*/*.pdf
.shellhistory
.shoobx_console_history
.shoobx_shell_history

.directory
.DS_Store
ghostdriver.log
.mr.developer.cfg
dep/
sentry-dsn
dep/*
node_modules

tools/sign_pdf/SignPDF.jar
tools/*/scripts/
data/paster-config/demo-new.ini.in
src/shoobx/app/resources/testing.ini
unpinned-resources.txt

recipes/recipes.egg-info/

/dist/
requirements.txt
deployment/
wheels/
